.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.loginBtn {
    width: 80px;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
    text-decoration: none;
}

.login {
    padding: 5px;
    text-align: center;
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
}

.logOut {
    width: 80px;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
    text-decoration: none;
}


