.posts_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    margin: 10px 0;
}

.textarea {
    background-color: #eee;
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.btn {
    width: 100px;
    background-color: cadetblue;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color linear 0.2ms;
}
