.form {
   width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error {
    color: red;
    font-size: 12px;
}

label {
    font-size: 14px;
}

.form input {
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 0 0 5px 0;
    font-size: 16px;
}

.btnGroup {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.btn {
    background-color: cadetblue;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color linear 0.2ms;
    width: 100px;
}

label {
    display: flex;
    flex-direction: column;
}