.user {
    display: flex;
    margin: 0 auto 10px auto;
    width: 900px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.userName {
    font-size: 18px;
    font-weight: bold;
}

.userStatus {
    margin-top: 25px;

}

.userLocation {
    font-size: 12px;
    font-weight: normal;
    color: #8d8d8d;
    margin-left: 15px;
}

.userAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    margin-right: 10px;
}

.userAvatar img {
    height: 50px;
    width: 50px;
    display: block;
    margin: 5px auto;

}

.btn {
    width: 100px;
    background-color: cadetblue;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color linear 0.2ms;
}