@import "src";

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #ffffff;
  padding: 10px 0;
  color: $gray;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.03);

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.profile {
  padding: 5px;
  text-align: center;
  color: #888;
  display: flex;
  gap: 20px;
  align-items: center;
}

.logout, .login {
  color: #888;
  &:hover {
    cursor: pointer;
    color: $mainColor
  }
}

.logo {
  font-weight: bold;
  font-size: 18px;
  a {
    color: $mainColor;
  }
  a:hover {
    cursor: pointer;
    color: #888
  }
}


