@import "src";

.error{
    width: 100%;
    height: 80%;
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    flex-direction: column;

    h1{
        font-size: 50px;
        font-weight: 200;
        display: inline-block;
        padding-right: 12px;
        animation: type .5s alternate infinite;
    }
}


@keyframes type{
    from{box-shadow: inset -3px 0 0 $mainColor;}
    to{box-shadow: inset -3px 0 0 transparent;}
}

.btn {
    color: #888;
    cursor: pointer;
    font-size: 18px;
    background-color: #f5f5f5;
    width: 100px;
    padding: 10px;
    text-align: center;

    &:hover {
        color: $mainColor;
    }
}